# Agrupamento e Slicing

## Carregando o dataset

In [ ]:
import pandas as pd

In [ ]:
# Configuração para que os números fiquem com 2 casas decimais
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
dataset = r'/content/drive/MyDrive/2022/Data Science/atividade_casa.csv'
df = pd.read_csv(dataset)

In [ ]:
df.sample(5)

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal
24688,Calça,Amarela,63.90,4,Masculino,39,2022-06-14,Loja Virtual
20266,Short,Roxa,159.96,2,Masculino,38,2022-02-18,Loja Virtual
27332,Saia,Cinza,78.25,2,Feminino,41,2022-07-17,Loja Física
17326,Camisa,Cinza,99.11,4,Masculino,46,2022-04-20,Loja Física
53439,Saia,Cinza,78.67,4,Masculino,45,2022-01-17,Loja Virtual

## Indexação no Pandas

### Seleção baseado em índice

A indexação do Pandas funciona com dois paradigmas. A primeira é a <u>seleção baseada em índice</u>: selecionar dados com base em sua posição numérica nos dados. O __iloc__ segue este paradigma.

Para selecionar a primeira linha de dados em um _DataFrame_, faremos uso do iloc passando o index posicional.

__SINTAXE__

`df.iloc[0]`

In [ ]:
df.iloc[0]

Produto                 Calça
Cor                      Roxa
Valor                   66.95
Quantidade                  4
Sexo                Masculino
Idade                      39
Data da Venda      2022-02-25
Canal            Loja Virtual
Name: 0, dtype: object

In [ ]:
df.iloc[0].to_frame().transpose()

  Produto   Cor Valor Quantidade       Sexo Idade Data da Venda         Canal
0   Calça  Roxa 66.95          4  Masculino    39    2022-02-25  Loja Virtual

Tanto __loc__ quanto __iloc__ trabalham com _linha-primeiro_ e _coluna-segundo_. 

Isto é o oposto do que fazemos no Python nativo, que é a _coluna-primeiro_ e  a _linha-segundo_.

Isto significa que é um pouco mais fácil recuperar linhas e um pouco mais difícil recuperar colunas. Para obter uma coluna com __iloc__, devemos escrever assim: `df.iloc[:, 0]`

Por si só, o seletor __:__ , que também vem do Python nativo, significa __tudo__. 

Quando combinado com outros seletores, no entanto, pode ser usado para indicar um intervalo de valores. 

Por exemplo, para selecionar a coluna da _Data da Venda_ apenas da primeira, segunda e terceira linha, devemos seguir a sintaxe `df.iloc[:3, 0]`, mas, também, podemos passar uma lista como `df.iloc[[0, 1, 2], 0]`.

Podemos passar um intervalo, por exemplo: `df.iloc[1:3, 0]`

Por fim, vale saber que números negativos podem ser usados na seleção. Isso começará a contar para frente a partir do final dos valores. 

Então, por exemplo, aqui estão os últimos cinco elementos do conjunto de dados - `df.iloc[-5:]`

In [ ]:
df.iloc[:, 0]

0           Calça
1        Camiseta
2           Calça
3           Short
4        Camiseta
           ...
99995       Calça
99996        Saia
99997       Calça
99998       Calça
99999        Saia
Name: Produto, Length: 100000, dtype: object

In [ ]:
df.columns

Index(['Produto', 'Cor', 'Valor', 'Quantidade', 'Sexo', 'Idade',
       'Data da Venda', 'Canal'],
      dtype='object')

In [ ]:
df.iloc[:3, 6]

0    2022-02-25
1    2022-01-19
2    2022-03-11
Name: Data da Venda, dtype: object

In [ ]:
df.iloc[[0, 1, 2], 6]

0    2022-02-25
1    2022-01-19
2    2022-03-11
Name: Data da Venda, dtype: object

In [ ]:
df.iloc[-5:]

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal
99995,Calça,Laranja,101.16,4,Masculino,46,2022-01-24,Loja Física
99996,Saia,Preta,100.82,3,Masculino,28,2022-03-08,Loja Física
99997,Calça,Azul,63.92,4,Feminino,48,2022-06-08,Loja Virtual
99998,Calça,Azul,149.06,3,Feminino,19,2022-01-05,Loja Física
99999,Saia,Verde,114.09,3,Masculino,25,2022-04-19,Loja Virtual

### Seleção baseada em rótulo

O segundo paradigma para seleção de atributos é o seguido pelo operador __loc__: _seleção baseada em rótulos_. 

Nesse paradigma, é o __valor__ do índice de dados, __não sua posição__, que importa.

Por exemplo, para obter a primeira entrada do _dataset_, agora faríamos o seguinte: `df.loc[0, 'coluna']`

__iloc__ é conceitualmente mais simples que __loc__ porque ignora os índices do conjunto de dados. 

Quando usamos __iloc__, tratamos o conjunto de dados como uma grande matriz (uma lista de listas), na qual temos que indexar por posição. 

__loc__, por outro lado, usa as informações dos índices para fazer seu trabalho. Como seu conjunto de dados geralmente tem índices significativos, geralmente é mais fácil fazer as coisas usando __loc__. 

Por exemplo, aqui está uma operação que é muito mais fácil usando __loc__: `df.loc[:, ['coluna', 'coluna', 'coluna']]`

In [ ]:
df.loc[0, 'Idade']

39

In [ ]:
df.loc[:, ['Cor', 'Produto', 'Valor']]

           Cor   Produto  Valor
0         Roxa     Calça  66.95
1      Amarela  Camiseta  99.69
2         Azul     Calça  92.50
3         Azul     Short 162.69
4      Laranja  Camiseta 148.19
...        ...       ...    ...
99995  Laranja     Calça 101.16
99996    Preta      Saia 100.82
99997     Azul     Calça  63.92
99998     Azul     Calça 149.06
99999    Verde      Saia 114.09

[100000 rows x 3 columns]

### Escolhendo entre loc e iloc

Ao escolher ou fazer a transição entre __loc__ e __iloc__, há uma "_pegadinha_" que vale a pena ter em mente, que é que _os dois métodos usam esquemas de indexação ligeiramente diferentes_.

__iloc__ usa o esquema de indexação _stdlib_ do Python, onde o primeiro elemento do intervalo é incluído e o último excluído. 

Portanto, 0:10 selecionará as entradas 0,...,9. __loc__, enquanto isso, indexa inclusive. Portanto, 0:10 selecionará as entradas 0,...,10.

Por que a mudança? Lembre-se que loc pode indexar qualquer tipo de stdlib: strings, por exemplo. 

Isso é particularmente confuso quando o índice _DataFrame_ é uma lista numérica simples, por exemplo. 0,...,1000. 

Neste caso `df.iloc[0:1000]` retornará 1000 entradas, enquanto `df.loc[0:1000]` retornará 1001 delas! 

Para obter 1000 elementos usando loc, você precisará descer um e pedir `df.loc[0:999]`.

Caso contrário, a semântica do uso de loc é a mesma de iloc.

In [ ]:
print(f'iloc: {len(df.iloc[0:10])} -----> loc: {len(df.loc[0:10])}')

iloc: 10 -----> loc: 11

## Manipulando o index

<u>A seleção baseada em rótulos</u> tem seu poder nos rótulos do índice.

> Criticamente, o índice que usamos não é imutável. Podemos manipular o índice da maneira que acharmos melhor.

O método `set_index()` pode ser usado para fazer o trabalho. 

__SINTAXE__

`df.set_index('coluna')`

Isso é útil se você puder criar um índice para o conjunto de dados que seja melhor que o atual.

In [ ]:
df.set_index('Data da Venda')[:10]

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Canal
Data da Venda,,,,,,,
2022-02-25,Calça,Roxa,66.95,4,Masculino,39,Loja Virtual
2022-01-19,Camiseta,Amarela,99.69,1,Masculino,30,Loja Física
2022-03-11,Calça,Azul,92.50,2,Feminino,25,Loja Física
2022-05-01,Short,Azul,162.69,1,Feminino,45,Loja Física
2022-03-13,Camiseta,Laranja,148.19,3,Feminino,29,Loja Física
2022-04-11,Calça,Laranja,54.47,3,Feminino,30,Loja Física
2022-01-31,Camisa,Azul,126.81,2,Masculino,25,Loja Virtual
2022-05-18,Calça,Cinza,173.46,1,Feminino,27,Loja Física
2022-03-19,Short,Verde,122.46,4,Feminino,32,Loja Virtual
2022-06-29,Camisa,Roxa,81.64,3,Masculino,49,Loja Física

## Seleção condicional

Até agora temos indexado vários passos de dados, usando propriedades estruturais do próprio _DataFrame_. 

Para fazer coisas __interessantes__ com os dados, no entanto, muitas vezes precisamos fazer perguntas com base nas condições.

Por exemplo, suponha que queiramos saber as pessoas com menos de 30 anos que realizaram um compra.

Podemos começar verificando a coluna idade onde o valor é menos que 30.

Essa operação produziu uma série de booleanos _True_/_False_ com base no país de cada registro. 

Este resultado pode ser usado dentro de __loc__ para selecionar os dados relevantes: `df.loc[condição]`

In [ ]:
df['Idade'] < 30

0        False
1        False
2         True
3        False
4         True
         ...
99995    False
99996     True
99997    False
99998     True
99999     True
Name: Idade, Length: 100000, dtype: bool

In [ ]:
menor_30 = df['Idade'] < 30
df.loc[menor_30]

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal
2,Calça,Azul,92.50,2,Feminino,25,2022-03-11,Loja Física
4,Camiseta,Laranja,148.19,3,Feminino,29,2022-03-13,Loja Física
6,Camisa,Azul,126.81,2,Masculino,25,2022-01-31,Loja Virtual
7,Calça,Cinza,173.46,1,Feminino,27,2022-05-18,Loja Física
10,Camiseta,Amarela,112.51,1,Feminino,21,2022-05-23,Loja Virtual
...,...,...,...,...,...,...,...,...
99993,Short,Vermelha,179.09,2,Masculino,28,2022-01-13,Loja Virtual
99994,Camiseta,Azul,107.89,1,Feminino,29,2022-05-31,Loja Virtual
99996,Saia,Preta,100.82,3,Masculino,28,2022-03-08,Loja Física
99998,Calça,Azul,149.06,3,Feminino,19,2022-01-05,Loja Física
99999,Saia,Verde,114.09,3,Masculino,25,2022-04-19,Loja Virtual

Este _DataFrame_ tem aproximadamente 37.817 linhas. O original tinha aproximadamente 100_000. Isso significa que cerca de 37.8% dos clientes tem idade inferior a 30 anos.

Também queríamos saber destes clientes quais são do sexo feminino.

Podemos usar o e comercial ( & ) para juntar as duas perguntas: `df.loc[(condição_1) & (condição_2)]`

A depender da pergunta ou do que queremos saber, podemos usar o pipe ( | ) para conseguir obter o resultado. Lembre-se que o & refere-se ao operador lógico __and__ e | ao operador lógico __or__ do python.

`df.loc[(condição_1) | (condição_2)]`

In [ ]:
menor_30 = df['Idade'] < 30
sexo_feminino = df['Sexo'] == 'Feminino'

# df.loc[(df['Idade'] < 30) & (df['Sexo'] == 'Feminino')]
df.loc[menor_30 & sexo_feminino]

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal
2,Calça,Azul,92.50,2,Feminino,25,2022-03-11,Loja Física
4,Camiseta,Laranja,148.19,3,Feminino,29,2022-03-13,Loja Física
7,Calça,Cinza,173.46,1,Feminino,27,2022-05-18,Loja Física
10,Camiseta,Amarela,112.51,1,Feminino,21,2022-05-23,Loja Virtual
19,Camisa,Vermelha,67.99,2,Feminino,29,2022-06-18,Loja Virtual
...,...,...,...,...,...,...,...,...
99980,Saia,Azul,132.76,1,Feminino,23,2022-06-01,Loja Física
99985,Camisa,Roxa,149.30,1,Feminino,28,2022-06-06,Loja Virtual
99989,Saia,Azul,90.67,3,Feminino,29,2022-03-29,Loja Virtual
99994,Camiseta,Azul,107.89,1,Feminino,29,2022-05-31,Loja Virtual
99998,Calça,Azul,149.06,3,Feminino,19,2022-01-05,Loja Física

O Pandas vem com alguns seletores condicionais embutidos, dois dos quais destacaremos aqui.

O primeiro __isin__ permite selecionar dados cujo valor "estão em" uma lista de valores. 

Por exemplo, veja como podemos usá-lo para selecionar clientes com as idade de 19 e 29 anos: 

`df.loc[df['coluna'].isin(['valor_1', 'valor_2'])]`

O segundo é __isnull__ (e seu companheiro __notnull__). Esses métodos permitem destacar valores que estão (ou não) vazios ( NaN ). 

`df.loc[df['coluna'].notnull()]`

In [ ]:
df.loc[df['Idade'].isin([19, 29, 39, 49])]

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal
0,Calça,Roxa,66.95,4,Masculino,39,2022-02-25,Loja Virtual
4,Camiseta,Laranja,148.19,3,Feminino,29,2022-03-13,Loja Física
9,Camisa,Roxa,81.64,3,Masculino,49,2022-06-29,Loja Física
19,Camisa,Vermelha,67.99,2,Feminino,29,2022-06-18,Loja Virtual
26,Saia,Vermelha,162.87,4,Masculino,39,2022-02-18,Loja Física
...,...,...,...,...,...,...,...,...
99977,Saia,Roxa,157.97,3,Feminino,29,2022-07-10,Loja Física
99982,Camiseta,Amarela,60.26,4,Masculino,19,2022-06-04,Loja Virtual
99989,Saia,Azul,90.67,3,Feminino,29,2022-03-29,Loja Virtual
99994,Camiseta,Azul,107.89,1,Feminino,29,2022-05-31,Loja Virtual
99998,Calça,Azul,149.06,3,Feminino,19,2022-01-05,Loja Física

In [ ]:
df.loc[df['Idade'].isnull()]

Empty DataFrame
Columns: [Produto, Cor, Valor, Quantidade, Sexo, Idade, Data da Venda, Canal]
Index: []

## Agrupamentos

Os mapas nos permitem transformar dados em um _DataFrame_ ou _Series_ um valor por vez para uma coluna inteira. 

No entanto, muitas vezes queremos agrupar nossos dados e, em seguida, fazer algo específico para o grupo em que os dados estão.

Como você aprenderá, fazemos isso com o método `groupby()`. 

Também abordaremos alguns tópicos adicionais, como formas mais complexas de indexar seus _DataFrames_, além de como classificar seus dados.

Uma função que já vimos na aula passada e é muito útil, é o método `value_counts()`. 

Podemos replicar o que `value_counts()` faz fazendo o seguinte: `df.groupby('coluna')['coluna'].count()`

> __*value_counts() é apenas um atalho para esta operação groupby()*__

Podemos usar qualquer uma das funções de resumo que usamos antes com esses dados. 

Por exemplo, para obter o vinho mais barato em cada categoria de valor de pontos, podemos fazer o seguinte: 

`df.groupby('coluna')['coluna'].min()`

Você pode pensar em cada grupo que geramos como sendo uma fatia do nosso _DataFrame_ contendo apenas dados com valores correspondentes. 

Este _DataFrame_ é acessível a nós diretamente usando o método `apply()`, e podemos manipular os dados da maneira que acharmos melhor. 

Por exemplo, aqui está uma maneira de selecionar o nome do primeiro vinho revisado de cada vinícola no conjunto de dados: 

`df.groupby('coluna').apply(lambda param: param.metodo())`

Para um controle ainda mais refinado, você também pode agrupar por mais de uma coluna. 

Por exemplo, veja como escolheríamos o melhor vinho por país e província:

`df.groupby(['coluna_1', 'coluna_2']).apply(lambda param: param.metodo())`

In [ ]:
df['Sexo'].value_counts()

Masculino    50017
Feminino     49983
Name: Sexo, dtype: int64

In [ ]:
df.groupby('Sexo')['Sexo'].count().sort_values(ascending=False)

Sexo
Masculino    50017
Feminino     49983
Name: Sexo, dtype: int64

Outro método `groupby()` que podemos usar associado a ele e que vale a pena mencionar é o `agg()` que permite executar várias funções diferentes em seu _DataFrame_ simultaneamente. 

Por exemplo, podemos gerar um resumo estatístico simples do conjunto de dados da seguinte forma:

`df.groupby('coluna')['coluna_2'].agg(['func_1', 'func_2', 'func_3'])`

O uso efetivo de `groupby()` permitirá que você faça muitas coisas realmente poderosas com seu conjunto de dados.

In [ ]:
df.groupby('Produto')['Valor'].agg(['min', 'max', 'sum'])

           min    max          sum
Produto
Calça    50.00 180.00 2,325,447.18
Camisa   50.01 179.99 2,307,545.42
Camiseta 50.00 179.96 2,279,626.66
Saia     50.02 180.00 2,295,649.21
Short    50.00 179.99 2,310,937.62

## Multi-índices

Em todos os exemplos que vimos até agora, trabalhamos com objetos _DataFrame_ ou _Series_ com um índice de rótulo único. 

`groupby()` é um pouco diferente no fato de que, dependendo da operação que executamos, às vezes resultará no que é chamado de __multi-índice__.

Um _índice múltiplo_ difere de um índice regular por ter _vários níveis_. 

Por exemplo: `df.groupby(['coluna_1', 'coluna_2])['coluna_3'].agg([func_1])`

Multi-índices têm vários métodos para lidar com sua estrutura em camadas que estão ausentes para índices de nível único. 

Eles também exigem dois níveis de rótulos para recuperar um valor. 

Lidar com a saída de vários índices é uma "_pegadinha_" comum para usuários novos em __Pandas__.

Os casos de uso para um _multi-índice_ são detalhados junto com as instruções sobre como usá-los na seção MultiIndex / Advanced Selection da documentação do __Pandas__.

No entanto, em geral, o método multi-índice que você usará com mais frequência é aquele para converter de volta para um índice regular, o método `reset_index()`

Ex: `df.reset_index()`

In [ ]:
df.groupby(['Produto', 'Cor'])['Valor'].agg(['sum', 'mean'])

                         sum   mean
Produto  Cor
Calça    Amarela  284,975.82 115.05
         Azul     296,161.61 114.88
         Cinza    291,582.58 115.85
         Laranja  300,894.26 114.45
         Preta    287,371.52 115.36
         Roxa     283,356.51 114.30
         Verde    287,699.21 115.03
         Vermelha 293,405.68 114.66
Camisa   Amarela  286,634.08 115.86
         Azul     288,421.33 115.46
         Cinza    276,459.20 115.48
         Laranja  293,217.66 115.80
         Preta    287,401.72 115.79
         Roxa     286,939.15 115.89
         Verde    299,934.19 117.07
         Vermelha 288,538.09 115.14
Camiseta Amarela  284,142.04 116.02
         Azul     287,268.11 113.86
         Cinza    286,978.49 115.67
         Laranja  289,556.38 115.55
         Preta    273,725.03 114.53
         Roxa     278,117.27 116.17
         Verde    292,172.55 113.95
         Vermelha 287,666.79 115.16
Saia     Amarela  294,863.26 114.55
         Azul     290,349.26 115.63
         Cinza    280,748.49 113.76
         Laranja  290,284.01 114.69
         Preta    285,128.16 114.37
         Roxa     280,716.85 115.47
         Verde    282,726.79 115.30
         Vermelha 290,832.38 115.41
Short    Amarela  286,813.96 115.79
         Azul     292,846.07 115.34
         Cinza    288,935.94 115.11
         Laranja  290,318.54 116.03
         Preta    283,701.88 114.12
         Roxa     296,972.51 115.15
         Verde    290,257.47 115.04
         Vermelha 281,091.24 115.01

In [ ]:
df.groupby(['Produto', 'Cor'])['Valor'].agg(['min', 'max'])

                    min    max
Produto  Cor
Calça    Amarela  50.18 179.98
         Azul     50.01 179.88
         Cinza    50.12 180.00
         Laranja  50.04 179.93
         Preta    50.06 179.84
         Roxa     50.03 180.00
         Verde    50.00 179.96
         Vermelha 50.09 179.95
Camisa   Amarela  50.01 179.92
         Azul     50.14 179.94
         Cinza    50.11 179.95
         Laranja  50.03 179.98
         Preta    50.05 179.99
         Roxa     50.04 179.96
         Verde    50.07 179.90
         Vermelha 50.06 179.95
Camiseta Amarela  50.10 179.95
         Azul     50.01 179.94
         Cinza    50.03 179.90
         Laranja  50.06 179.93
         Preta    50.04 179.95
         Roxa     50.04 179.96
         Verde    50.02 179.94
         Vermelha 50.00 179.96
Saia     Amarela  50.02 179.82
         Azul     50.17 180.00
         Cinza    50.06 179.91
         Laranja  50.14 179.89
         Preta    50.09 179.86
         Roxa     50.08 179.99
         Verde    50.28 179.99
         Vermelha 50.06 179.91
Short    Amarela  50.00 179.84
         Azul     50.04 179.99
         Cinza    50.10 179.98
         Laranja  50.01 179.91
         Preta    50.04 179.95
         Roxa     50.03 179.99
         Verde    50.06 179.99
         Vermelha 50.23 179.90

## Um pouco mais sobre set_index( ) e reset_index( )

Para saber um pouco mais sobre estes métodos, basta colocar o interrogação após a chamada dos mesmos

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        'Turmas': [315, 319, 419, 713, 718],
        'Módulos': ['Python', 'Python', 'Python', 'Python', 'Python'],
        'Horário de Início': ['15:30', '19:00', '19:00', '13:30', '18:30']
    }
)

df

   Turmas Módulos Horário de Início
0     315  Python             15:30
1     319  Python             19:00
2     419  Python             19:00
3     713  Python             13:30
4     718  Python             18:30

In [ ]:
# Pegando ajuda para set_index

df.set_index?

In [ ]:
df.set_index('Turmas', inplace=True)
df

       Módulos Horário de Início
Turmas
315     Python             15:30
319     Python             19:00
419     Python             19:00
713     Python             13:30
718     Python             18:30

In [ ]:
df.iloc[1].to_frame().transpose()

    Módulos Horário de Início
319  Python             19:00

In [ ]:
df.loc[319].to_frame().transpose()

    Módulos Horário de Início
319  Python             19:00

In [ ]:
# Pegando ajuda para reset_index()

df.reset_index?

In [ ]:
df.reset_index(inplace=True)
df

   Turmas Módulos Horário de Início
0     315  Python             15:30
1     319  Python             19:00
2     419  Python             19:00
3     713  Python             13:30
4     718  Python             18:30

## Hora de praticar!

### Atividade 1

1. Quantos produtos tem o valor maior que R$100,00?

In [ ]:
maior_100 = df.loc[df['Valor'] > 100]
maior_100['Quantidade'].sum()

155036

### Atividade 2

2. Quantas saias abaixo de R$70,00 foram compradas

In [ ]:
saias = df.loc[(df['Produto'] == 'Saia') & (df['Valor'] < 70)]
saias['Quantidade'].sum()

7635

### Atividade 3

3. Qual foi o faturamento total (em R$) de camisas laranjas

In [ ]:
camisas_laranjas = df.loc[(df['Produto'] == 'Camisa') & (df['Cor'] == 'Laranja')]
calculo = camisas_laranjas['Valor'] * camisas_laranjas['Quantidade']
camisas_laranjas.insert(4, 'Sub-Total', calculo)
f'R${camisas_laranjas["Sub-Total"].sum():_.2f}'

'R$742_830.65'

### Atividade 4

4. Quantos clientes entre 30 e 40 anos (inclusive) compraram calça roxa?

In [ ]:
calca_roxa = df.loc[(df['Produto'] == 'Calça') & (df['Cor'] == 'Roxa')]
calca_roxa_30_40 = calca_roxa.loc[(calca_roxa['Idade'] >= 30) & (calca_roxa['Idade'] <= 40)]
calca_roxa_30_40.shape[0]

838

In [ ]:
calca_roxa_30_40['Sexo'].count()

838